div#mskbg{
	opacity:0.5;
	zoom:1;
	filter:Alpha(opacity=50);
	background-color:#708F87;
	position:absolute;
	width:100%;
	height:100%;
	z-index:999;
	top:0;
}
div#mskmu{
	/*background-color:#708F12;
	width:800px;
	height:600px;
    left:15%;
	top:0px;*/
    position:absolute;
	z-index:1000;
    overflow:auto;
    text-align:center;
}
a#moveout{
	position:absolute;
	right:10px;
	top:10px;
	z-index:1000;
}
a#menua{
	display:block;
	background-repeat:no-repeat;
	background-position:center;
	position:absolute;
	left:0px;
    border:5px solid #7F7F7F;
}
