div#mskbg{
	opacity:0.5;
	zoom:1;
	filter:Alpha(opacity=50);
	background-color:#708F87;
	position:absolute;
	width:100%;
	height:100%;
	z-index:999;
	top:0;
    left:0;
}
div#mskmu{
	/*background-color:#708F12;
	width:800px;
	height:600px;
    left:15%;
	top:0px;*/
    position:absolute;
	z-index:1000;
    overflow:auto;
    text-align:center;
}
div#moveout{
	position:absolute;
	right:10px;
	top:10px;
    width:40px;
    height:40px;
	z-index:1000;
}
.close{
    background-image:url(images/x-over.png);
    background-position:50% 50%;
    background-size:40px;
    display:block;
    width:40px;
    height:40px;
}
.close:hover{
    background-image:url(images/x.png);
}
.icon{
	position:absolute;
	left:0px;
}
.icon a{
    display:inline-block;
    text-decoration:none;
}
.icon a:focus{
    outline:none;
}
.icon img{
    border:none;
}
.icon-t{
    display:inline-block;
    position:absolute;
    height:13px;
    font-size:11;
    left:0px;
    bottom:0px;
    line-height:100%;
}
.icon-tt{
    display:block;
    white-space:nowrap;
    overflow:hidden;
}
.icon-f{
    display:block;
    padding:1px 4px;
    color:rgb(255,255,255);
    text-align:left;
    background-color:rgba(0,86,143,0.6);
}
