body{
	margin:0px;
}
div#show{
	display:block;
	width:100%;
	height:100%;
	margin:0px;
    position:relative;
}
div#bg{
	background-repeat:no-repeat;
	background-position:center;
	width:100%;
	height:100%;
	display:block;
	z-index:-1;
    overflow:hidden;
    position:absolute;
}
div#cover{
	width:100%;
	height:100%;
	display:block;
    overflow:hidden;
    position:absolute;
    background-color:#FFFFFF;
    zoom:1;
    filter:Alpha(opacity=0);
    opacity:0;
}
div#bs{
	zoom:1;
	filter:Alpha(opacity=50);
	opacity:0.5;
	right:10px;
	bottom:5px;
	float:right;
	display:block;
	position:absolute;
    z-index:10;
}
ul{
	padding:0px;
	margin:0px;
	list-style-type:none;
}
li{
	float:right;
}
li a{
	text-decoration:none;
	background-image:url(images/release.png);
	background-repeat:no-repeat;
	background-position:center;
	display:block;
	width:40px;
	height:41px;
}
li a:hover{
	background-image:url(images/choose.png);
}
a#menu{
	position:absolute;
	left:50%;
	text-decoration:none;
	display:block;
	background:#F0EC00;
	opacity:50%;
	zoom:1;
	filter:Alpha(opacity=50);
	-moz-boder-radius:0 0 30px 30px;
	-webkit-border-radius:0 0 30px 30px;
	border-radius:0 0 30px 30px;
	height:10px;
	width:60px;
	box-shadow:0 0 10px 5px #F0EC00;
	color:#ffffff;
	text-align:center;
	text-shadow:0 0 3px #295124;
	font-size:10px;
	z-index:99;
}
@-webkit-keyframes breath{
	from{
		background-color:#F0EC00;
		box-shadow:0 0 10px 5px #F0EC00;
	}
	50%{
		background-color:#F0EC00;
		box-shadow:0 0 10px 10px #F0EC00;
	}
	to{
		background-color:#F0EC00;
		box-shadow:0 0 10px 5px #F0EC00;
	}		
}
a#menu{
	-webkit-animation-name:breath;
	-webkit-animation-duration:3s;
	-webkit-animation-iteration-count:infinite;
}
